@import 'navbar.css';
@import 'header.css';
@import 'breadcrumb.css';
@import 'footer.css';
@import 'backgrounds.css';

body{
    background:#f4f4f4;
}

.main-color-bg {
    background-color: #46aef7 !important;
    border-color: #2e85c2 !important;
    color: #fff !important;
}

.show-mobile{
    display: none;
}

.hide-mobile{
    display:block;
}

@media (max-width: 770px) {
    .show-mobile{
        display: block;
    }

    .hide-mobile{
        display:none;
    }
}